<div>

    <div class="modal-header">

        <h1>Edit {{ userEditController.user.fullName() }}</h1>

    </div>

    <div class="modal-body">

        <form name="userEditForm">

            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text"
                       required
                       name="first_name"
                       class="form-control"
                       id="first_name"
                       data-ng-model="userEditController.user.first_name" />
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text"
                       required
                       name="last_name"
                       class="form-control"
                       id="last_name"
                       data-ng-model="userEditController.user.last_name" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text"
                       required
                       name="email"
                       class="form-control"
                       id="email"
                       data-ng-model="userEditController.user.email" />
            </div>

        </form>

    </div>

    <div class="modal-footer">

        <button class="btn btn-info"
                data-ng-click="userEditController.close()"
                data-ng-disabled="userEditControllerForm.$invalid">
            Save
        </button>

        <button class="btn btn-danger"
                data-ng-click="userEditController.dismiss()">
            Cancel
        </button>

    </div>

</div>