<div>
    <tabset>
        <tab heading="Projects"
             active="tab.active"
             data-ui-sref="projects">
        </tab>
        <tab heading="Users"
             active="tab.active"
             data-ui-sref="users">
        </tab>
        <ul class="pull-right nav">
            <li style="display: inline-block"
                data-ng-if="nav.user">
                Welccome {{ nav.user }}
            </li>
            <li style="display: inline-block"
                data-ng-if="nav.user">
                <a class="btn"
                   data-ng-click="nav.logout()">
                    Log Out
                </a>
            </li>
        </ul>
    </tabset>
</div>