<div>
    <table data-ng-if="users.length"
           class="table table-striped table-responsive">

        <thead>
        <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
            <th></th>

        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="user in users">

            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a data-ui-sref="user.detail({userId: user._id})"
                   class="btn btn-xs">
                    View User
                </a>
            </td>
            <td>
                <a data-ng-click="edit(project)"
                   class="btn btn-xs">
                    <i class="fa fa-pencil"></i>
                    Edit
                </a>
                <a data-ng-click="remove(project)"
                   style="color: red; margin-left: 10px;"
                   class="btn btn-xs">
                    <i class="fa fa-ban"></i>
                    Delete
                </a>
            </td>

        </tr>
        </tbody>

    </table>

    <div data-ng-if="!users.length"
         class="alert alert-info">

        Nothing to see here.

    </div>

</div>